.hidden {
  display: none !important;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full {
  width: 100%;
}

.column-half {
  width: 50%;
}

.column-fifth {
  width: 20%;
}
